<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Details Page</title>
</head>
<body>
    <h5><a href="/second_app/success">Bright Ideas</a> | <a href="/lr_app/logout">Logout</a></h5>
    <br>
    <br>
    <h2>Name: {{ stuff.name }}</h2>
    <h2>Alias: {{ stuff.username }}</h2>
    <h2>Email: {{ stuff.email }}</h2>
    <br>
    <br>
    <h2>Total Number of Posts: {{ totalCount }}</h2>
    <h2>Total Number of Likes: {{ totalLikes }}</h2>
</body>
</html>